<div class="container">
  
  <%= form_for :topic, url: topics_path, :html => {:id => "explore" } do |f| %>
    <%= f.search_field :topic, placeholder: "Enter Any Word, Topic, Idea, etc.", autofocus: "autofocus", autocomplete: "off" %><br />
    <p class="perspective">
        <button class="btn intro-button number1" id="exploreB" disabled="true">
          <svg class="icon">
            <use xlink:href="#compass"></use>
          </svg>
          Explore
        </button>
      </p>
  <% end %>
    
  <%= form_for :topic, url: topics_path, :html => {:id => "random"} do |f| %>
    <%= f.hidden_field :topic, :value => @random_word %>
    <p class="perspective">
        <button id="randomB"class="btn intro-button number2" onKeyPress=”return disableEnterKey(event)”>
          <svg class="icon">
            <use xlink:href="#shuffle"></use>
          </svg>
          Random
        </button>
      </p>
    
  <% end %>
   
</div>

<script type="text/javascript">
function disableEnterKey(e)
{
     var key;      
     if(window.event)
          key = window.event.keyCode; //IE
     else
          key = e.which; //firefox      

     return (key != 13);
}

</script>

<script type="text/javascript">
/*deactivates explore button if search input is empty */
  $( "input#topic_topic" ).on("keyup", function(e) { 
    if(67 < e.keyCode && e.keyCode < 90) {
      $( "button#exploreB" ).prop('disabled', false);
    }
  });
</script>


<script type="text/javascript">
// hover for instructions
  var wordList = ["atlas", "apple", "journey", "discovery", "ball", "angel", "query", "trite", "spiteful", "anarchy", "decay", "stupor", "stupdendous", "brain", "petite", "luxury", "game", "peanut", "egg", "forlorn", "milky way", "shark", "fish", "paris", "america", "chocolate", "ocean", "cat", "dog", "human", "heart", "love", "passion", "fury", "death", "anger", "annoyed", "friend", "enemy", "nostalgia", "pity", "pitiful", "dogma", "heresy", "prison", "compassion", "energy", "bacon", "poop", "eureka"];
  function words(){
    word1 = wordList[Math.floor(Math.random()*wordList.length)];
    word2 = wordList[Math.floor(Math.random()*wordList.length)]
    if(word1 === word2){
      word2 =  wordList[Math.floor(Math.random()*wordList.length)]
    }
    return [word1, word2]
  };
  $("body").attr("title","Input any search term here to see a tree of relationships. Try '"+ words()[0] +"' or '"+ words()[1] +"'");
  $("body").tooltipsy({alignTo: $("input#topic_topic"), offset: [0, -30], delay: 2000, className: 'searchbar_tooltipsy'});
</script>

