/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

header {
  height: 70px;  
  display: inline;
}

header nav ul {
  list-style: none; 
  overflow: hidden; 
  position: relative;
  float: right;
  padding: 10px;
  outline: solid black 1px;
}

header nav ul li{ 
  font-size: 20px;
  float: left; 
  margin: 0 20px 0 20px;
  }

header nav ul li a{
  text-decoration: none;
}

div#viz{
  margin-left: 5%;
}

div#define{
  height: 90%;
  width: 90%;
  position: fixed;
  background-color: rgba(102,102,102,.75);
  z-index: 1;
  border-radius: 15px;
  top: -85%;
  left: 5%;
}

div#pictures{
  height: 90%;
  width: 90%;
  position: fixed;
  background-color: rgba(66,153,51,.75);
  z-index: 1;
  border-radius: 15px;
  top: 95%;
  left: 5%;
}

div#videos{
  height: 90%;
  width: 90%;
  position: fixed;
  background-color: rgba(48,63,145,.75);
  z-index: 1;
  border-radius: 15px;
  left: -85%;
  top: 5%;
}

div#stats{
  height: 90%;
  width: 90%;
  position: fixed;
  background-color: rgba(201,94,98,.75);
  z-index: 1;
  border-radius: 15px;
  left: 95%;
  top: 5%;
}

svg {
    border: solid 1px #ccc;
    font: 12px sans-serif;
}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}



