/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

header {
  height: 70px;  
  display: inline-block;
}

header nav ul {
  list-style: none; 
  overflow: hidden; 
  position: relative;
  float: left;
  padding: 10px;
  outline: solid black 1px;
}

header nav ul li{ 
  font-size: 20px;
  float: left; 
  margin: 0 20px 0 20px;
  }

header nav ul li a{
  text-decoration: none;
}

#search_bar{
  position: fixed;
  top: 50%;
  left: 25%;
}

