/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* Adding a pretty font */
*, *:after, *::before { box-sizing: border-box; }

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:400,300,700);

body {
  background-color: rgba(255,255,255,1);
}

header {
  height: 50px;  
  display: inline-block;
  position: fixed;
  top: 0;
  margin: 0 0 0 59%;
}

header nav ul {
  list-style: none; 
  overflow: hidden; 
  position: fixed;
  padding: 10px;
  outline: solid black 1px;
  margin: 0;
  width: 100%;
  background-color: rgba(184,184,184,.9);
  z-index: 100;
}

header nav ul li{ 
  font-size: 20px;
  float: left; 
  margin: 0 20px 0 20px;
  }

header nav ul li a{
  text-decoration: none;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: rgb(0,154,205);
}

span {
  color: white;
}

span > span:hover {
  color: rgb(0,154,205);
}

div#journey {
  color: white;
}

h1 {
  color: white;
}


div#viz{
  margin: 0 auto;
  text-align: center;
  z-index: -1;
  overflow: auto;
  width: 90%;
  height: 90%;
}

div#define{
  height: 90%;
  width: 90%;
  position: fixed;
  background-color: rgba(255,255,255,.95);
  z-index: 1;
  border-radius: 15px;
  top: -120%;
  left: 5%;
  overflow: auto;
  border: 30px solid rgba(0, 0, 0, 0);
  border-top: 10px;
}

div#pictures{
  height: 90%;
  width: 90%;
  position: fixed;
  background-color: rgba(255,255,255,.95);
  z-index: 1;
  border-radius: 15px;
  top: 120%;
  left: 5%;
  overflow: auto;
  border: 20px solid rgba(0, 0, 0, 0);
  border-top: 10px;
}

div#videos{
  height: 90%;
  width: 90%;
  position: fixed;
  background-color: rgba(255,255,255,.95);
  z-index: 1;
  border-radius: 15px;
  left: -120%;
  top: 5%;
  overflow: auto;
  border: 20px solid rgba(0, 0, 0, 0);
  border-top: 10px;
}

div#stats{
  height: 90%;
  width: 90%;
  position: fixed;
  background-color: rgba(255,255,255,.95);
  z-index: 1;
  border-radius: 15px;
  left: 120%;
  top: 5%;
  overflow: auto;
  border: 20px solid rgba(0, 0, 0, 0);
  border-top: 10px;
}

/*Style for Wolfram Alpha Tab*/
#stats > div.stats {
  width: 50%;
  display: inline-block;
  padding: 2em;
  position: relative;
}

#stats > div:nth-child(2) {
  display: block;
  width: 100%;
}

#stats > div > img {
  position: relative;
}

#stats > div:nth-child(3) {
/*  position: absolute;*/
}

svg {
  font: 12px sans-serif;
  color: white;
}

svg.icon {
  height: 35px;
  width: 35px;
  float: left;
  margin-top: -7px;
}

text {
  fill: black;
}

.link {
  fill: none;
  stroke: rgb(120,120,120);
  stroke-width: 1.5px;
  stroke-color: rgb(120,120,120);
}

div#past_topics {
  cursor: pointer;
  width: 400px;
  overflow: auto;
  margin: 8px 40px;
}

.tooltipsy {
  padding: 10px;
  max-width: 200px;
  color: white;
  border-radius: 5px;
  background-color: rgba(135,135,135,.8)
}


@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:400,300,700);

/* Intro Button Styling*/
/* ================================ */
.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  width: 325px;
  height: 70px;
}

.container > section p {
  font-family: 'Lato', Arial, sans-serif;
}

.container > section {
  margin: 0 auto;
  text-align: center;
}

.container > section p {
  color: #fff;
  font-size: 1.3em;
  font-weight: 300;
}

.container > section * {
  font-family: 'Lato', Arial, sans-serif;
}

.container > section {
  margin: 0 auto;
  text-align: center;
}

.container > section * {
  color: #fff;
  font-size: 1.3em;
  font-weight: 300;
}

section {
  margin: 0 auto;
  text-align: center;
}

form {
  display: inline-block;
}

.intro-button:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.intro-button {
  border: 3px solid #fff;
  color: #fff;
}

.intro-button:after {
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background: #fff;
}

.intro-button:hover,
.intro-button:active {
  color: #0e83cd;
}

.intro-button:hover:after,
.intro-button:active:after {
  height: 100%;
}



.perspective {
  display: inline-block;
}

/* Search Box Styling*/
/* ================================ */

#search {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.container {
  width: 70%;
  margin: 20% auto;
  text-align: center;
}


form {
  height: 100px;
  display: inline;
  position: relative;
  -webkit-user-select: none;
  cursor: text;
}

form input[type=search]::-webkit-search-cancel-button {
-webkit-appearance: 100px;
}

form input[type=search] {
color: black;
text-transform: uppercase;
display: block;
margin: 0;
width: 100%;
height: 1.2em;
border: 0 solid #98989f;
border-bottom: 3px solid #fff;
background: transparent;
font-size: 3em;
-webkit-appearance: none;
-webkit-tap-highlight-color: rgba(0,0,0,0);
outline: none;
text-align: center;
}



/* Arrows */

.arrow-right {
  width: 0px;
  height: 0px;
  border-top: 80px solid transparent;
  border-bottom: 80px solid transparent;
  border-right: 40px solid rgba(211, 211, 211, 0.27);
  position: fixed;
  right: 0;
  top: 45%;
}

.arrow-left {
  width: 0px;
  height: 0px;
  border-top: 80px solid transparent;
  border-bottom: 80px solid transparent;
  border-left: 40px solid rgba(211, 211, 211, 0.27);
  position: fixed;
  left: 0px;
  top: 45%;
}

.arrow-top {
  width: 0px;
  height: 0px;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-top: 40px solid rgba(211, 211, 211, 0.27);
  position: fixed;
  top: 0;
  margin-left: -7%;
  left: 50%;
}

.arrow-bottom {
  width: 0px;
  height: 0px;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 40px solid rgba(211, 211, 211, 0.27);
  position: fixed;
  top: 95%;
  margin-left: -7%;
  left: 50%;
}



/*Styles for signup page*/

form.new_user {
  font-size: 25px;
  width: 40%;
  color: #22313d;
}

div.new-user-form {
  background-color: lightgreen;
  margin-top: 100px;
  border: 3px solid #000;
  border-radius: 7px;
  padding: 60px;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
}

/*Styles for login page*/

div.login-form {
  background-color: lightgreen;
  margin-top: 100px;
  border: 3px solid #000;
  border-radius: 7px;
  padding: 60px;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
}

form {
  font-size: 25px;
  width: 40%;
  color: #22313d;
}

/* The Timeline On The Topic Show Page */

div .bubble-line {
  border-bottom: 2px solid #808080;
  display: inline-block;
  width: 14px;
  position: relative;
  top: -6px;
  left: 0px;
  margin: -2px;
  z-index: -1;
}

div .bubble {
  border: 2px solid #808080;
  background: #FFFFFF;
  border-radius: 10px;
  height: 10px;
  width: 10px;
  display: inline-block;
  margin: 0px;
  margin-right: -3px;
}

div .bubble:hover {
  background: #009acd;
}

/* Picture styles */

div .flickr {
  display: inline-block;
  width: 500px;
  height:326px;
  overflow: hidden;
}

.flickr img {
  width: 100%;
  margin: 10px;
  border-radius: 7px;
}

.flickr-wrapper {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
