<h1>From 
    <span class="starting-word"><%= @journey.topics.first.name %></span> 
  to 
    <span class="ending-word"><%= @journey.topics.last.name %></span> 
  in 
    <span class="tangent-number"><%= @journey.topics.count %></span>
  tangents.</h1>