<!DOCTYPE html>
<html>
<head>
  <title>QuickShark</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <style>
    svg {
        border: solid 1px #ccc;
        font: 10px sans-serif;
    }
    .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 1.5px;
    }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
